/core/build


**/__pycache__/
__pycache__/
*.pyc

/interface/.qtcreator
/core/__pycache__
/interface/Go_app/generated/__pycache__
/interface/Go_app/core/__pycache__
/interface/Go_app/windows/__pycache__

/core/__pycache__
/.vscode

/interface/Go_app/core/__pycache__
/interface/Go_app/generated/__pycache__
/interface/Go_app/windows/__pycache__
/.vscode
/scripts/__pycache__
/interface/Go_app/generated/__pycache__
/interface/Go_app/windows/__pycache__
/interface/Go_app/windows/__pycache__

/interface/Go_app/windows/__pycache__
/interface/Go_app/windows/__pycache__
/interface/Go_app/windows/__pycache__
/scripts
/core/.vscode
/interface/Go_app/core/__pycache__
*.pyc
auth/.env
